:root {
 --light-one: #90a3bf ;
}

.form-control {
    border: none;
}
.search-box{
border: 1px solid var(--light-one);
border-radius: 25px;
width: 30%;
}
.navbar-brand{
    padding-left: 10px ;
}
.nav-item{
    border: 1px solid var(--light-one);
    border-radius: 50%;
    width: 43px;
}
.nav-link img{
    justify-content: center;
    align-items: center;
}